*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Inknut Antiqua', serif;
}
.content{
    background: rgb(133,138,79);
    background: radial-gradient(circle, rgba(133,138,79,1) 0%, rgba(97,94,51,1) 46%, rgba(195,175,142,1) 100%);
}
.navbar{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.navbar ul{
    list-style: none;
}
.navbar ul li a{
    margin-right:5px ;
    font-size: 10px;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(18, 16, 16);
    text-decoration: underline;
}
.header{
    margin: 0;
    padding: 0;
}
.header img{
    max-width: 100%;
    height: auto;
}
.main{
}
.informationimg{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.mainimage{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.main h1{
    font-size: 15px;
    margin: 5px;
    text-align: center;
} 
.main section article p{
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(114, 104, 60, 0.445);
    margin: 10px;
    text-align: start;
}
.footer h2{
    font-size: 15px;
    margin: 5px;
    text-align: center;
}
.footer form{
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(114, 104, 60, 0.445);
    margin: 10px;
    text-align: start;
}
.footer form div{
    text-align: center;

}
.imagefooter{
    max-width: 100%;
    height: auto;
}
